   # Disable some debug services
on property:init.svc.cnss_diag=running
    stop cnss_diag

on property:init.svc.tcpdump=running
    stop tcpdump

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag

    # Perf tuning
on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,7
    setprop dalvik.vm.dex2oat-threads 6

on property:vendor.post_boot.parsed=1
    # ZRAM setup
    write /sys/block/zram0/max_comp_streams 8
    write /proc/sys/vm/page-cluster 0

on property:sys.boot_completed=1
    # Enable ZRAM on boot_complete
    write /proc/sys/vm/swappiness 100
    write /sys/block/zram0/disksize 2147483648

   # Logcat Services
service boot_log /system/bin/logcat -b all -D -f /cache/boot_log_full.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_log_crash /system/bin/logcat -b crash -D -f /cache/boot_log_crash.txt
    class main
    user root
    group root system
    disabled
    oneshot

service boot_log_kernel /system/bin/logcat -b kernel -D -f /cache/boot_log_kernel.txt
    class main
    user root
    group root system
    disabled
    oneshot

on post-fs-data
# Clear existing log and start the service
    rm /cache/boot_log_full.txt
    rm /cache/boot_log_crash.txt
    rm /cache/boot_log_kernel.txt
    start boot_log
    start boot_log_crash
    start boot_log_kernel

on property:sys.boot_completed=1
# Stop the logger service
    stop boot_log
    stop boot_log_crash
    stop boot_log_kernel
